<div>
  <legend >
    <div class="titulo-pagina">
      <span class="aw-titulo-panel"> Consulta de veículo</span>
      <a href="veiculo/novo"class="btn btn-link aw-link-panel">Novo veículo</a>
    </div>
  </legend>

  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th class="text-center col-md-1">#</th>
          <th class="text-center col-md-3">Marca</th>
          <th class="text-center col-md-3">Modelo</th>
          <th class="text-center col-md-2">Ano</th>
          <th class="text-center col-md-2">Cor</th>
          <th class="text-center col-md-1"></th>
        </tr>
      </thead>

      <tbody id="lista-veiculos">
        <tr ng-repeat="veiculo in veiculos">
          <td class="text-center">{{veiculo.id}}</td>
          <td>{{veiculo.marca}}</td>
          <td>{{veiculo.modelo}}</td>
          <td class="text-left">{{veiculo.ano}}</td>
          <td class="text-left">{{veiculo.cor}}</td>
          <td class="text-center">
            <a href="veiculo/editar/{{veiculo.id}}" class="btn btn-link btn-xs" title="Editar" rel="tooltip" data-placement="top">
              <span class="glyphicon glyphicon-pencil"></span>
            </a>

            <modal-msg class="btn btn-link btn-xs"
            title="Atenção..."
            message="Deseja remover o veículo?"
            function_ok="remover(veiculo)">
            <span class="glyphicon glyphicon-remove"></span>
          </modal-msg>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
