<div>

  <legend >
    <div class="titulo-pagina">
      <span class="aw-titulo-panel"> Consulta de veículo</span>
      <a href="veiculo/novo"class="btn btn-link aw-link-panel">Novo veículo</a>
    </div>
  </legend>

  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th class="text-center col-md-1">#</th>
          <th class="text-center col-md-3">Marca</th>
          <th class="text-center col-md-3">Modelo</th>
          <th class="text-center col-md-2">Ano</th>
          <th class="text-center col-md-2">Cor</th>
          <th class="text-center col-md-1"></th>
        </tr>
      </thead>

      <tbody id="lista-veiculos">
        <tr>
          <td class="text-center" id="id" >1</td>
          <td id="marca">Fiat</td>
          <td id="modelo">Uno</td>
          <td id="ano"class="text-left">2015</td>
          <td id="cor" class="text-left">Amarelo</td>
          <td class="text-center">
            <a href="*" class="btn btn-link btn-xs" title="Editar" rel="tooltip" data-placement="top">
              <span class="glyphicon glyphicon-pencil"></span>
            </a>
            <a class="btn btn-link btn-xs btn-remover">
              <span class="glyphicon glyphicon-remove"></span>
            </a>
          </td>
        </tr>
        <tr>
          <td class="text-center" id="id" >1</td>
          <td id="marca">Fiat</td>
          <td id="modelo">Uno</td>
          <td id="ano"class="text-left">2015</td>
          <td id="cor" class="text-left">Amarelo</td>
          <td class="text-center">
            <a href="*" class="btn btn-link btn-xs" title="Editar" rel="tooltip" data-placement="top">
              <span class="glyphicon glyphicon-pencil"></span>
            </a>
            <a class="btn btn-link btn-xs btn-remover">
              <span class="glyphicon glyphicon-remove"></span>
            </a>
          </td>
        </tr>
        <tr>
          <td class="text-center" id="id" >1</td>
          <td id="marca">Fiat</td>
          <td id="modelo">Uno</td>
          <td id="ano"class="text-left">2015</td>
          <td id="cor" class="text-left">Amarelo</td>
          <td class="text-center">
            <a href="*" class="btn btn-link btn-xs" title="Editar" rel="tooltip" data-placement="top">
              <span class="glyphicon glyphicon-pencil"></span>
            </a>
            <a class="btn btn-link btn-xs btn-remover">
              <span class="glyphicon glyphicon-remove"></span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
